In [ ]:
pip install tabula-py
import pandas as pd
from tabula import read_pdf

In [ ]:
# Extract the PDF file into a list of DataFrames
pdf_path = "./data/Cedarvile-11-04-23.pdf"
dfs = read_pdf(pdf_path, pages="all", multiple_tables=True)

# Separate the DataFrames into individual variables
df0 = dfs[0]
df1 = dfs[1]
df2 = dfs[2]

In [44]:
# Clean the Score By Period table
def process_score(df):
    # Drop the first column and the second row, rename columns
    return df.iloc[:, 1:].iloc[[0, 2], :].rename(
        columns={'Unnamed: 0': 'Team', 
                 'Unnamed: 1': '1st Half',
                 'Unnamed: 2': '2nd Half',
                 'Unnamed: 3': 'Final'})



# Clean the Player Stats tables for both teams
def process_stats(df):
    # Create an explicit copy of the DataFrame
    df = df.copy()
    
    # Remove rows with all NaN values
    df = df.dropna(axis=1, how='all')
    
    # Split 'FT ORB-DRB' column into separate columns
    df[['FT', 'ORB-DRB']] = df['FT ORB-DRB'].str.split(' ', expand=True)

    # Split FG, 3PT, and FT columns into made and attempted
    df[['FGM', 'FGA']] = df['FG'].str.split('-', expand=True).astype(int)
    df[['3PTM', '3PTA']] = df['3PT'].str.split('-', expand=True).astype(int)
    df[['FTM', 'FTA']] = df['FT'].str.split('-', expand=True).astype(int)

    # Split 'A TO BLK' column into separate columns
    df[['A', 'TO', 'BLK']] = df['A TO BLK'].str.split(' ', expand=True)

    # Split 'GS MIN' column into separate columns
    df['MIN'] = df['GS MIN'].str.replace('*', '').str.replace(' ', '')
    
    # Split 'ORB-DRB' column into separate columns
    df[['ORB', 'DRB']] = df['ORB-DRB'].str.split('-', expand=True)
    
    # Drop original columnsgs 
    df = df.drop(['FT ORB-DRB', 'A TO BLK', 'ORB-DRB', 'FG', '3PT', 'FT', 'GS MIN'], axis=1)
    
    return df


score = process_score(df0)
playerStats = process_stats(df1[20:29])
oppPlayerStats = process_stats(df1[0:10])


# Uncomment one to View
score
#playerStats
#oppPlayerStats

            Team  1st Half  2nd Half  Final
0     Cedarville      40.0      35.0   75.0
2  Mo.-St. Louis      27.0      43.0   70.0