In [ ]:
pip install tabula-py

In [1]:
import pandas as pd
from tabula import read_pdf

In [ ]:
# Read the PDF file into a list of DataFrames
pdf_path = "./data/Cedarvile-11-04-23.pdf"
dfs = read_pdf(pdf_path, pages="all", multiple_tables=True)

# Separate the DataFrames into individual variables
df0 = dfs[0]
df1 = dfs[1]
df2 = dfs[2]

In [10]:
# Drop the first column and the second row
Score = df0.iloc[:, 1:].iloc[[0, 2], :]
Score

      Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3
0     Cedarville        40.0        35.0        75.0
2  Mo.-St. Louis        27.0        43.0        70.0

In [11]:
df1

,# Player,Unnamed: 0,Unnamed: 1,GS MIN,FG,3PT,Unnamed: 2,FT ORB-DRB,REB,Unnamed: 3,PF,A TO BLK,Unnamed: 4,STL,Unnamed: 5,PTS
0,"32 Maughmer,Jayvon",NaN,NaN,* 33,11-18,3-5,NaN,6-6 1-6,7,NaN,2,0 2 1,NaN,0,NaN,31
1,"00 Rogers,Chris",NaN,NaN,* 30,5-8,2-5,NaN,2-2 0-0,0,NaN,2,3 1 0,NaN,0,NaN,14
2,"05 Whisman,Grant",NaN,NaN,* 31,4-9,3-7,NaN,0-0 0-2,2,NaN,3,1 0 0,NaN,0,NaN,11
3,"01 Drees,Jacob",NaN,NaN,* 24,2-5,0-1,NaN,0-0 1-10,11,NaN,2,1 4 0,NaN,0,NaN,4
4,"11 Davis,Timothy",NaN,NaN,* 6,0-3,0-3,NaN,0-0 0-0,0,NaN,3,0 1 0,NaN,0,NaN,0
5,"03 Thomas,Kyle",NaN,NaN,29,3-7,3-7,NaN,0-0 1-3,4,NaN,0,2 1 0,NaN,1,NaN,9
6,"02 Ruffolo,Anthony",NaN,NaN,16,2-4,0-1,NaN,0-0 1-1,2,NaN,1,1 1 0,NaN,1,NaN,4
7,"22 Pszczola,Tymoteusz",NaN,NaN,14,1-4,0-0,NaN,0-0 1-1,2,NaN,1,0 1 0,NaN,1,NaN,2
8,"12 Sellars,Ethan",NaN,NaN,16,0-2,0-1,NaN,0-0 1-1,2,NaN,1,2 2 0,NaN,0,NaN,0
9,"10 Okpara,David",NaN,NaN,1,0-0,0-0,NaN,0-0 0-0,0,NaN,1,0 0 0,NaN,0,NaN,0
10,TM TEAM,NaN,NaN,0,0-0,0-0,NaN,0-0 1-3,4,NaN,0,0 0 0,NaN,0,NaN,0
11,Totals,NaN,NaN,- 200,28-60,11-30,NaN,8-8 7-27,34,NaN,16,10 13 1,NaN,3,NaN,75
12,Team Summary,NaN,NaN,FG,NaN,NaN,NaN,3PT,NaN,NaN,NaN,FT,NaN,NaN,NaN,NaN
13,First Half,NaN,16-32,50.00%,NaN,NaN,NaN,7-1741.18%,NaN,NaN,NaN,1-1100.00%,NaN,NaN,NaN,NaN
14,Second Half,NaN,12-28,42.86%,NaN,NaN,NaN,4-1330.77%,NaN,NaN,NaN,7-7100.00%,NaN,NaN,NaN,NaN
15,Total,NaN,28-60,46.7%,NaN,NaN,NaN,11-3036.7%,NaN,NaN,NaN,8-8100.0%,NaN,NaN,NaN,NaN
16,Technical Fouls: none,NaN,Second Chance Points: 6,Scores Tied: 3 times(s),NaN,NaN,NaN,Points in the Paint: 26,NaN,NaN,NaN,Fast Break Points: 9,NaN,NaN,NaN,NaN
17,Lead Changed: 2 times(s),NaN,Points off Turnovers: 13,Bench Points: 15,NaN,NaN,NaN,Largest Lead: 0 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,o.-St. Louis 70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,# Player,NaN,NaN,GS MIN,FG,3PT,NaN,FT ORB-DRB,REB,NaN,PF,A TO BLK,NaN,STL,NaN,PTS
20,"03 Enright,Matt",NaN,NaN,* 36,9-15,0-5,NaN,4-5 1-3,4,NaN,4,2 1 0,NaN,2,NaN,22
21,"10 Harris,Janeir",NaN,NaN,* 38,5-11,0-3,NaN,4-5 0-4,4,NaN,2,3 1 2,NaN,1,NaN,14
22,"15 Quartlebaum,Mayson",NaN,NaN,* 24,6-10,1-1,NaN,0-0 1-3,4,NaN,1,1 0 0,NaN,0,NaN,13
23,"12 Prospere II,Emanuel",NaN,NaN,* 37,4-7,1-2,NaN,0-2 1-3,4,NaN,2,4 2 0,NaN,2,NaN,9
24,"21 Kabala,Terrell",NaN,NaN,* 23,2-6,2-4,NaN,0-0 0-2,2,NaN,3,2 1 0,NaN,1,NaN,6
25,"35 Glover II,Troy",NaN,NaN,16,2-3,0-0,NaN,2-4 0-6,6,NaN,2,0 1 1,NaN,1,NaN,6
26,"05 O'Neal II,Kris",NaN,NaN,11,0-1,0-0,NaN,0-0 0-2,2,NaN,1,1 3 0,NaN,3,NaN,0
27,"02 Meeks,Christian",NaN,NaN,8,0-2,0-1,NaN,0-0 2-0,2,NaN,0,0 1 0,NaN,0,NaN,0
28,"04 Bledsoe,Sam",NaN,NaN,7,0-2,0-0,NaN,0-0 0-0,0,NaN,0,0 1 0,NaN,0,NaN,0
29,TM TEAM,NaN,NaN,0,0-0,0-0,NaN,0-0 1-2,3,NaN,0,0 0 0,NaN,0,NaN,0
30,Totals,NaN,NaN,- 200,28-57,4-16,NaN,10-16 6-25,31,NaN,15,13 11 3,NaN,10,NaN,70